*{

    padding: 0;
    margin: 0;
    
    

}
.cl-1{
    background-image:url(pexels-photo-2233416.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;


    
}
.cl-2 {
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: azure;
}


.cl-2{
    font-size: 25px;
}

.cl-3{
    margin-bottom: 50px;
    
    color:rgb(rgb(100, 89, 89));
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.95));
 
}

.cl-3 h1{
    font-size: 50px;
}

.cl-4 input{
    width: 350px;
    border-style: solid;

}